body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #07252d;
  color: #000;
}

h2 {
  font-family: 'Metal Mania', cursive;
  position: relative;
  margin: 30px 0 10px;
  font-size: 7em;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 100px #03bcf4, 0 0 400px #03bcf4;
}

h4 {
  position: relative;
  font-family: 'Marck Script', cursive;
  font-weight: 100;
  margin: 0 0 20px;
  font-size: 2em;
  color: #0e3742;
  width: 100%;
  text-align: center;
  animation: animate 6s linear infinite;
}

@keyframes animate {

  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4, 0 0 400px #03bcf4;
  }
}

a {
  font-family: 'Marck Script', cursive;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4, 0 0 400px #03bcf4;
}

a:hover {
  text-shadow: 0 0 15px #03bcf4, 0 0 25px #03bcf4, 0 0 45px #03bcf4, 0 0 85px #03bcf4, 0 0 5px #03bcf4, 0 0 5px #03bcf4;
}

header {
  width: 100vw;
  min-height: 25vh;
  display: flex;
}

header .left {
  width: 30%;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo img {
  max-width: 340px;
}

header .center {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

header .right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

main {
  width: 100%;
  min-height: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.mainframe {
  width: 70%;
  height: auto;
  min-height: 50%;
  background-color: aliceblue;
  border: 3px solid #3090aa;
  border-radius: 10px;
  padding: 30px;
  font-size: large;
}

.regframe {
  min-width: 30%;
  min-height: 40%;
  background-color: aliceblue;
  border: 3px solid #3090aa;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
}

.mainframe input {
  margin-bottom: 10px;
  padding: 10px;
}

#mainform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainform button{
  min-width: 10em;
  min-height: 2em;
  margin-bottom: 1em;
}

.formdiv {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.regformdiv {
  display: flex;
  min-width: 80%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.regformdiv div {
  width: 100%;
}

.regformdiv div p {
  margin: 1em 0 0 0;
}

.regformdiv input {
  margin-bottom: 10px;
  padding: 10px;
  min-width: 90%;
}

#emailHelp {
  font-size: 0.5em;
  margin: 0;
}

.formdiv div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit {
  width: 70%;
  height: 2em;
  font-size: 1.5em;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  /* font-family: 'Marck Script'; */
}

#submit:hover {
  color: red;
}

.m-right {
  margin-right: 3em;
}

#jobtitle {
  width: 20em;
  font-size: large;
}

#count,
#countSkills {
  width: 5em;
  text-align: center;
}

#setcount {
  min-width: 6.3em !important;
  height: 2em;  
  padding: 0;
}

.display {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1em;
}

#results {
  width: 98%;
  border: 2px solid #07252d;
  border-radius: 10px;
  padding: 10px;
  visibility: hidden;
}

.skill-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 15px;
}

.skill-name {
  width: 10em;
  vertical-align: middle;
}

.skill-count{
  vertical-align: middle;
}

.skill-controls {
  display: flex;
  justify-content: space-between;
  min-width: 40vw;
}

.skill-controls button {
  cursor: pointer;
  padding: 5px;
}

footer {
  width: 100vw;
  height: 4em;
}
